.storage-form__to-sample-group {
    margin-top: 50px;
}

.colon {
    padding-left: 149px;
}

.storage-form__to-sample-group {
    margin-top: 30px;
}

.storage-form__to-public-group {
    margin-top: 30px;
}

.public-colon {
    padding-left: 66px;
}

.picture {
    width: 200px;
}