.content-all {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.frame {
    width: 250px;
}

.upload__button {
    margin-top: 10px;
}

.show-images {
    display: flex;
    flex-wrap: wrap;
}

.picture {
    margin: 10px 2.5px;
    width: 240px;
}